* {
  box-sizing: border-box;
}

.wrapper {
  text-align: center;
}

.controller {
  display: flex;
  justify-content: center;
}

.controller form {
  margin-left: 3rem;
}

.visualizer-wrapper {
  margin-top: 1rem;
}

.visualizer-wrapper .row {
  display: flex;
  justify-content: center;
}

.visualizer-wrapper .row .element {
  padding: 1rem;
}
